<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.2em;">
    Thông tin đơn hàng
</div>
<div class="p-4">
    <p class="font-italic mb-4">Phí vận chuyển sẽ được tính thêm dựa vào phương thức vận chuyển bạn muốn chọn</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Tạm tính</strong>
            <strong>{{subtotal | currency: "VND"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Phí vận chuyển</strong>
            <strong>{{shippingPrice | currency: "VND"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Thành tiền</strong>
            <strong>{{total | currency: "VND"}}</strong>
        </li>
    </ul>
</div>