<carousel>
    <slide>
        <img class="slider" src="https://cdn.pixabay.com/photo/2016/01/27/22/10/shopping-1165437_1280.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img class="slider" src="https://cdn.pixabay.com/photo/2017/09/07/13/42/cheese-2725235_1280.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img class="slider" src="https://cdn.pixabay.com/photo/2017/08/09/18/56/shopping-2615482_1280.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Demart - Trải nghiệm mua sắm tiện lợi</h1>
    </div>
</section>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4" style="text-align: center;">
            <img src="../../assets/images/shopping-bag.png" alt="thumbnail" class="img-thumbnail mb-3">
          <h2>Đa dạng</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas, autem natus dolores ullam minus.</p>
          <p><a class="btn btn-warning" href="#">Xem chi tiết »</a></p>
        </div>
        <div class="col-4" style="text-align: center;">
            <img src="../../assets/images/shopping-cart.png" alt="thumbnail" class="img-thumbnail mb-3">
          <h2>Nhanh chóng</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas, autem natus dolores ullam minus.</p>
          <p><a class="btn btn-warning" href="#">Xem chi tiết »</a></p>
        </div>
        <div class="col-4" style="text-align: center;">
            <img src="../../assets/images/rent.png" alt="thumbnail" class="img-thumbnail mb-3">
          <h2>Thuận tiện</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas, autem natus dolores ullam minus.</p>
          <p><a class="btn btn-warning" href="#">Xem chi tiết »</a></p>
        </div>
      </div>
</div>