<div class="d-flex justify-content-center mt-5">
    <div class="col-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Đăng nhập</h1>
            </div>

            <app-text-input formControlName="email" [label]="'Email'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Mật khẩu'" [type]="'password'"></app-text-input>

            <button [disabled]="loginForm.invalid" class="btn btn-info btn-block" type="submit">Đăng nhập</button>
        </form>
    </div>
</div>