<div class="container mt-5">
    <div><i class="fa fa-check-circle fa-5x" style="color: green;"></i></div>
    <h2>Cảm ơn quý khách. Đơn hàng của bạn đã được xác nhận</h2>
    <p class="mb-4">Đơn hàng của bạn sẽ được vận chuyển trong thời gian sớm nhất. Vui lòng kiểm tra email xác nhận thông tin đơn hàng!</p>
    <button 
        *ngIf="order" 
        class="btn btn-outline-success"
        routerLink="/orders/{{order?.id}}"
    >Xem đơn hàng của bạn</button>
    <button 
        *ngIf="!order" 
        class="btn btn-outline-success"
        routerLink="/orders"
    >Xem đơn hàng của bạn</button>
</div>